header {
  background: rgba(0, 0, 0, 0.952);
  height: 70px;
  width: 100%;
  padding: 5px 20px;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  position: fixed;
  z-index: 10;
  top: 0;
}
@media (max-width: 767.98px) {
  header {
    justify-content: space-between;
  }
  header .dropdown img {
    width: 32px;
    height: 32px;
  }
}
header .logo-header {
  width: 65px;
  border-radius: 50%;
}
header ul {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 20px;
}
header .dropdown-item {
  color: #6a6a6a !important;
}

/*footer*/
footer .content-footer {
  background-color: rgb(63, 33, 90);
  display: flex;
  padding: 5vh;
}
footer .social {
  display: flex;
  margin-right: 10vw;
}
footer .icon-social {
  width: 35px;
  margin: 8px;
}
footer .links-footer a {
  font-size: 1.2rem;
  margin-left: 20px;
}
footer .copy {
  background-color: #150b1e;
  text-align: center;
  color: white;
  padding: 10px;
}

.btn_line, header a, footer .links-footer a {
  text-decoration: none;
  color: white !important;
}

.btn_line {
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.btn_line:after {
  content: "";
  display: block;
  margin: auto;
  height: 1px;
  width: 0px;
  transition: all 0.2s;
}

.btn_line:hover:after {
  width: 100%;
  background: white;
}

* {
  margin: 0;
  padding: 0;
}

.cover {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cover .filtro-cover {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(0, 0, 0, 0.5490196078);
}
.cover .title-cover {
  position: absolute;
  color: white;
  font-family: "Dancing Script", cursive;
  font-weight: normal;
  z-index: 1;
  font-size: 3rem;
}
@media (max-width: 767.98px) {
  .cover .title-cover {
    font-size: 2rem;
  }
}
.cover .cover-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.image-carousel {
  height: 75vh;
  width: 100%;
  padding-right: 20px;
}

.image-carousel img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 767.98px) {
  .image-carousel {
    height: 50vh;
  }
}
.description-carousel {
  color: gray;
  font-size: 1.1rem;
}

.title-section {
  font-family: "Dancing Script", cursive;
  color: #6a6a6a;
  font-size: 2.5rem;
  margin: 20px 10px;
  font-weight: normal;
}
@media (max-width: 767.98px) {
  .title-section {
    font-size: 2rem;
  }
}

.products .card {
  box-shadow: 0px 0px 5px #dbdbdb;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.products .card-cover {
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.products .card-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.products .card-content {
  color: rgb(63, 33, 90);
  padding: 10px;
}
.products .name-product {
  margin-bottom: 10px;
  font-size: 1.2rem;
}
.products .btn-view {
  background-color: transparent;
  border: 2px solid rgb(63, 33, 90);
  border-radius: 0.6em;
  color: rgb(63, 33, 90);
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  padding: 5px 15px;
  text-decoration: none;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.products .btn-view:hover, .products .btn-view:focus {
  color: #fff;
  outline: 0;
}
.products .btn-view {
  transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}
.products .btn-view:hover {
  box-shadow: 0 0 40px 40px rgb(63, 33, 90) inset;
}

.nosotros {
  margin-top: 16vh;
}

.contacto .content-contacto {
  margin: auto;
  display: flex;
  align-items: center;
}
.contacto .image-contacto {
  width: 50vw;
  height: 126vh;
  overflow: hidden;
}
.contacto .img-serv {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacto .form-contacto {
  color: gray;
  font-size: 1.1rem;
  margin: auto;
}
.contacto .title-contacto {
  font-family: "Dancing Script", cursive;
  color: #6a6a6a;
  font-size: 2.5rem;
  margin: 20px 10px;
  font-weight: normal;
}
.contacto .input-form {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.contacto .btn-submit {
  background-color: rgb(63, 33, 90);
  color: white;
  border: none;
  cursor: pointer;
}
@media (max-width: 767.98px) {
  .contacto .image-contacto {
    height: 40vh !important;
    width: 100%;
  }
}/*# sourceMappingURL=main.css.map */