@import 'vars';
@import 'layouts';
@import 'buttons';
*{
  margin: 0;
  padding: 0;
}

.cover {
  width: 100%;
  height: 70vh;
  overflow: hidden;
  //margin-bottom:8vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .filtro-cover{
    height: 100%;
    width: 100%;
    position:absolute;
    background: #0000008c;
    }
    
  .title-cover{
    position: absolute;
    color:white;
    font-family: $primary_font;
    font-weight: normal;
    z-index: 1;
    font-size: 3rem;
    
  }
  @media (max-width: 767.98px) { 
    .title-cover{
      font-size: 2rem;
    }
  }
    
  .cover-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}
.image-carousel{
  height: 75vh;
  width: 100%;
  padding-right: 20px;
}
.image-carousel img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
@media (max-width: 767.98px) { 
  .image-carousel{
    height: 50vh;
  }
}
.description-carousel{
  color:gray;
  font-size: 1.1rem;
}
.title-section{
  @include titulos;
  font-size: 2.5rem;
  margin:20px 10px;
  font-weight: normal;
  @media (max-width: 767.98px) {
    font-size: 2rem;
  }
}

.parent-cart{
  position: fixed;
  width: 300px;
  top: 70px;
  z-index: 10;
  right: 0;
  background-color: #fff;
  border: 1px solid gray;
}

.products{
  .card{
    box-shadow: 0px 0px 5px #dbdbdb;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-cover{
    width: 100%;
    height: 300px;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  
  .card-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
  }
  .card-content{
    color: $primary_color;
    padding: 10px;
  }
  
  .name-product{
    margin-bottom: 10px;
    font-size: 1.2rem;
  }
  
  .btn-view {
    background-color: transparent;
    border: 2px solid $primary_color;
    border-radius: 0.6em;
    color: $primary_color;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    padding: 5px 15px;
    text-decoration: none;
    text-align: center;
    font-family: $secondary_font;
    font-weight: 700;
  }
  .btn-view:hover, .btn-view:focus {
    color: #fff;
    outline: 0;
  }
  
  .btn-view {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
  }
  .btn-view:hover {
    box-shadow: 0 0 40px 40px $primary_color inset;
  }
  
}

.nosotros{
  margin-top: 16vh;
}

.contacto{
  .content-contacto{
    margin: auto;
    display: flex;
    align-items: center;
  }

  .image-contacto{
    width: 50vw;
    height: 126vh;
    overflow: hidden;
  }

  .img-serv{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .form-contacto{
    color:gray;
    font-size: 1.1rem;
    margin: auto;
  }

  .title-contacto{
    @include titulos;
    font-size: 2.5rem;
    margin:20px 10px;
    font-weight: normal;
  }

  .input-form{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  .btn-submit{
    background-color: rgb(63, 33, 90);
    color: white;
    border: none;
    cursor: pointer;
  }
  @media (max-width: 767.98px) { 
    .image-contacto{
      height:40vh !important;
      width: 100%;
    }
  }
}